.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    align-content:flex-start;    
}
.container img{
    object-fit: cover;
    width: 320px;
    height: 180px;
}